.lift2{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 90px;
    height: 100px;
    border-right: 2px solid black;
    border-top: 2px solid black;
    display: flex;
    justify-content: space-between;
}

.left,.right{
    width: 50%;
}

.left,.right{
    height: 100%;
}



.box,.box1{
    height: 20%;
}

.left .box1{
    border-right: 2px solid black;
}

.box1{
    border-top: 2px solid black;
}

.box p{
    background-color: yellow;
    font-size: 12px;
    font-weight: bold;
    padding: 2px;
    text-align: center;
    margin-left: 10px;
}