.room18Content{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #E4DFEC;
}

.room18Into .parag{
    border-radius: 12px;
    border: 2px solid gray;
    cursor: pointer;
    padding: 2px 10px;
    font-weight: bold;
    font-size: 12px;
    transition: all .3s;
}

.room18Into .parag:hover{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    background-color: rgb(248, 248, 248);
    color: green;
}

.allRoomIntoDetail{
    position: absolute;
    top: 4%;
    left: 12%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    opacity: 0;
    pointer-events: none;
}

.allRoomIntoDetailActive{
    background-color: rgb(9, 84, 9);
    position: absolute;
    top: 14%;
    left: 52%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    opacity: 1;
    pointer-events: all;
    border-radius: 12px;
    z-index: 1;
    color: white;
    font-size: 18px;
}

.closeRoom{
    padding: 12px;
    text-align: center;
    cursor: pointer;
    transition: all .4s ease-in-out;
    border-radius: 12px;
    scale: 0.9;
    color: #fff;
    border: 2px solid gray;
}

.closeRoom:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    scale: 1;
}

 