.lift1{
    width: 114px;
    height: 82px;
    position: absolute;
    top: 0;
    left: 0;
}

.lift1Up,.lift1Down{
    height: 50%;
    display: flex;
    justify-content: space-between; 
}

.lift1Up .box{
    border-bottom: 2px solid black;
}

.box{
    border-right: 2px solid black;
    width: 20%;
}

.boxLift,.box1{
    width: 20%;
}

.boxLift p{
    transform: rotate(-90deg);
    font-size: 12px;
    background-color: yellow;
    margin-top: 10px;
    font-weight: bold;
    padding: 2px;
}
